<div id="menu-admin">
    <div class="container-fluid" id="container-menu-admin">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <img alt="Brand" class="brand-image" src="images/pizza-slice.png">
                        <a href="" class="navbar-brand">EasyPizza</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a ui-sref="admin.dashboard"><img src="images/table-icon.png" class="table-icon"> Mesas <span class="sr-only">(current)</span></a>
                            </li>
                            <li><a ui-sref="admin.drinks">Bebidas</a></li>
                            <li><a ui-sref="admin.toppings">Ingredientes</a></li>
                            <li><a ui-sref="admin.pizzas">Pizzas</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href ng-click="logout()">
                                    <img src="images/pizza-slice.png" style="width:20px"> Sair
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</div>
<div ui-view></div>