<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1 class="title">Acompanhe os pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <br>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mesa</th>
                            <th>Cliente</th>
                            <th>Foto</th>
                            <th>Detalhes</th>
                            <th>Finalizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders">
                            <td>{{order.table.num}}</td>
                            <td>{{order.client.name}}</td>
                            <td><img ng-src="{{order.client.photo}}"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>