<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1 class="title">Acompanhe os pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <br>
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mesa</th>
                            <th>Cliente</th>
                            <th>Foto</th>
                            <th>Descrição</th>
                            <th>Finalizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders">
                            <td>{{order.table}}</td>
                            <td>{{order.client}}</td>
                            <td><img ng-src="{{order.photo}}"></td>
                            <td>{{order.description}}</td>
                            <td>
                                <button class="btn btn-mini btn-info" ng-click="removeOrder(order)"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>