<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h1 class="title">Seus pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h3 class="title title2">Bebidas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="drink in order.drinks">
                            <td>{{drink.name}}</td>
                            <td>{{drink.price | currency : 'R$ ' : 2}}</td>
                        </tr>
                        <tr style="background: #afafaf; color: #c0392b; font-size: 18px; font-weight: bold">
                            <th>Total</th>
                            <td>{{drinksTotal | currency : 'R$ ' : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-md-offset-1">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h3 class="title title2">Pizzas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pizza in order.pizzas">
                            <td>{{pizza.name}}</td>
                            <td>{{pizza.price | currency : 'R$ ' : 2}}</td>
                        </tr>
                        <tr style="background: #afafaf; color: #c0392b; font-size: 18px; font-weight: bold">
                            <th>Total</th>
                            <td>{{pizzasTotal | currency : 'R$ ' : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-md-offset-1">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h3>Total do pedido: {{total | currency : 'R$ ' : 2}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-md-offset-1">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <button ng-click="finishOrder()" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span> Encerrar pedido</button>
        </div>
    </div>
</div>