<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <img alt="Brand" class="brand-image" src="images/pizza-slice.png">
                    <a href="" class="navbar-brand">EasyPizza</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i> Pedido <span class="sr-only">(current)</span></a></li>
                        <li><a href="#"><i class="fa fa-beer" aria-hidden="true"></i> Bebida</a></li>
                        <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Pizzas</a></li>
                        <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i> Porções</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                <img src="images/pizza-slice.png" style="width:20px"> Sair
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h1 class="title">Seus pedidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h3 class="title title2">em andamento</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sabor 01</td>
                            <td>R$32,00</td>
                        </tr>
                        <tr>
                            <td>Sabor 02</td>
                            <td>R$32,00</td>
                        </tr>
                        <tr>
                            <td>Sabor 03</td>
                            <td>R$32,00</td>
                        </tr>
                        <tr>
                            <td>Sabor 04</td>
                            <td>R$32,00</td>
                        </tr>
                        <tr>
                            <td>Sabor 05</td>
                            <td>R$32,00</td>
                        </tr>
                        <tr style="background: #afafaf; color: #c0392b; font-size: 18px; font-weight: bold">
                            <th>Total</th>
                            <td>R$32,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-lg-10 col-md-10 col-md-offset-1">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h3 class="title title2">atendidos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>