<div class="container">
    <div class="jumbotron col-md-offset-4 col-md-4">
        <p>Faça login com seu Facebook</p>
        <small>Aqui é fácil. Nada de burocracia. Apenas conecte-se ao Facebook e estamos prontos para começar.</small>
        <a class="btn btn-block btn-social btn-facebook" ng-click="facebook()">
            <span class="fa fa-facebook"></span> Entre com o Facebook
        </a>
        <hr>
        <button class="btn-danger btn" ui-sref="home">Cancelar</button>
    </div>
</div>