<div class="container vertical-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="row text-center logo-container">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-7 col-md-7 col-lg-7">
                <h1 class="logo">Easy Pizza</h1>
                <small>Sua pizzaria mais inteligente</small>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="images/pizza-slice.png" class="img-responsive" alt="">
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-12">
                <button type="button" class="btn btn-primary" ng-click="client()">Sou cliente</button>
                <button type="button" class="btn btn-primary" ng-click="admin()">Sou administrador</button>
            </div>
        </div>
    </div>
</div>