<div class="container vertical-center">
    <div class="col-sm-6 col-md-6 col-mg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
        <div class="row text-center logo-container">
            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-7 col-md-7 col-lg-7">
                <h1 class="logo">Easy Pizza</h1>
                <small>Sua pizzaria mais inteligente</small>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="images/pizza-slice.png" class="img-responsive" alt="">
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-lg-offset-1 col-md-offset-1">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">User: </label>
                            <div class="col-md-10 col-sm-10 col-lg-10">
                                <input type="text" class="form-control" ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">Password: </label>
                            <div class="col-md-10 col-sm-10 col-lg-10">
                                <input type="password" class="form-control" ng-model="user.password">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="button" ng-click="login(user)">Log in</button>
                            <input type="text" class="btn-danger btn" value="Cancel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>