<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
            <h1 class="title">Novo Ingrediente</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-10 col-md-offset-1">
            <br>
            <div class="form-group">
                <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">Nome:</label>
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <input type="text" class="form-control" ng-model="topping.name" placeholder="Digite o nome">
                </div>
                <br>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">Preço:</label>
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <input type="text" class="form-control" ng-model="topping.price" placeholder="Digite o preço">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 col-md-2 col-lg-2 control-label">URL Foto:</label>
                <div class="col-md-8 col-lg-8 col-sm-8">
                    <input type="text" class="form-control" ng-model="topping.photo" placeholder="Digite a URL da foto">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-lg-10 col-sm-10 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                    <button type="submit" class="btn btn-success" ng-click="add(topping)"> Adicionar</button>
                    <input type="reset" class="btn btn-primary" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
</div>